/* Global css */

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: auto;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
      }
  }
  .hero-heading{
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
  }
  .hero-heading + p{
    font-weight: 500;
    font-size: 22px;
    line-height:28px
  }

  .estimate-heading{
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
  }

  .estimate-subheading{
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
  }